@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at top, #2e2e2e, #272727);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 200px 150px 150px 150px ;
    grid-template-rows: 150px 50px 150px 50px 75px 75px 50px 75px 75px ;
    gap: 1em;
    grid-template-areas: 
    "it-1 it-2 it-2 it-2"
    "it-1 it-3 it-3 it-3"
    "it-4 it-4 it-5 it-5"
    "it-4 it-4 it-5 it-5"
    "it-6 it-6 it-7 it-7"
    "it-8 it-8 it-7 it-7"
    "it-9 it-9 it-7 it-7"
    "it-10 it-10 it-10 it-10"
    "it-11 it-11 it-11 it-11"
    ;
}
.item{
    background: #1d1d1d;
    color: white;
    border-radius: 1rem;
}

/*Image 1*/
.item img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
/*text 2*/
.item p{
    padding: 1rem;
    background: #1d1d1d;
    border-radius: 1rem;
    color: #d5d5d5;
    font-family: 'Cormorant',sans-serif;
    font-size: 1.1rem;
    font-style: italic;
}

/*Ineterests 3*/
.item .container{
    display: flex;
    justify-content: space-around;
    align-items: center;    border-radius: 1rem;

    width: 100%;
    height: 100%;
}
.item .container .Interests{
    background: #1d1d1d;
    border-radius: 1rem;
    color: #ffffff;
    font-family: 'PT+Sans',sans-serif;
    font-style: normal;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}
.item .container .line{
    width: 1em;
    background: #4c4c4c;
    height: 50%;
    border-radius: 1rem;
}

.item .container .box{
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    align-items: center;
    height: 100%;
    position: relative;
    
}
.item .container .box .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}   
.item .container .box .box1 p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    height: 80%;
    width: 10em;
    background: #3a3a3a;
    border-radius: 1rem;
    transition: all 300ms ease;
    
}

.item .container .box .box1 p:hover{
    background: #2a2a2a;    border: 1px solid white;

}

/*Job 4*/
.item .contain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}

.item .contain .contain-txt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    width: 100%;
}
.item .contain .contain-txt .txt{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 4em;

}

.item .contain .contain-txt .txt .bg-txt{
    font-size: 1.2em;
    font-style: normal;
    font-family: 'PT+Sans';
    color: #2da4ff;
}

.item .contain .contain-txt .txt .sh-txt{
    font-size: 0.8em;
    font-style: normal;
    font-family: 'PT+Sans';
    color: #8d8d8d;
}

.item .box .box1 p{
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.item .contain .info{
    display: block;
    position: absolute;
    top: 7em;
    left: 3em;
}

.item .contain .info  li {
    font-size: 0.8em;
    color: #bfbfbf;
}

/*Desing 6*/
.item .container1{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    gap: 4em; 
    width: 100%;
    height: 100%;
}
.item .container1 .Design{
    background: #1d1d1d;
    color: #ffffff;
    font-family: 'PT+Sans',sans-serif;
    font-style: normal;
    font-size: 1rem;
    width: 40%;
    height: 100%;
}
.item .container1 .line{
    width:3px;
    background: #4c4c4c;
    height: 50%;
    border-radius: 1rem;
}

.item .container1 .box{
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    align-items: center;
    height: 100%;
    position: relative;
    
}
.item .container1 .box .box1{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    height: 100%;
    width: 100%;
}   
.item .container1 .box .box1 img{

    font-size: 0.6em;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    height: 3em;
    width: 3em;
    object-fit: cover;
    transition: all 300ms ease;
    
}

.item .container3 .box .box1 p:hover{
    background: #2a2a2a;
}


/*Coding  8 */
.item .container2{
    display: flex;
    justify-content:space-around;
    align-items: center;    
    gap: 1em;
    width: 100%;
    height: 100%;
}
.item .container2 .Coding{
    background: #1d1d1d;
    color: #ffffff;
    font-family: 'PT+Sans',sans-serif;
    font-style: normal;
    font-size: 1rem;
    width: 40%;
    height: 100%;
}
.item .container2 .line{
    width:3px;
    background: #4c4c4c;
    height: 50%;
    border-radius: 1rem;
}
.item .container2 .box{
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
    gap: 0.7em;
    align-items: center;
    height: 100%;
    position: relative;
    
}
.item .container2 .box .box1{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    height: 100%;
    width: 100%;
}   
.item .container2 .box .box1 img{
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    height: 2em;
    width: 2em;
    object-fit: contain;
    transition: all 300ms ease;
    
}
.item .container2 .box .box1 p:hover{
    background: #2a2a2a;
}

/*Language  9 */
.item .container3{
    display: flex;
    justify-content:space-around;
    align-items: center;    
    gap:7.5em;
    width: 100%;
    height: 100%;
}
.item .container3 .Language{
    background: #1d1d1d;
    color: #ffffff;
    font-family: 'PT+Sans',sans-serif;
    font-style: normal;
    font-size: 1rem;
    width: 40%;
    height: 100%;
}
.item .container3 .line{
    width:3px;
    background: #4c4c4c;
    height: 50%;
    border-radius: 1rem;
}
.item .container3 .box{
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
    gap: 0.7em;
    align-items: center;
    height: 100%;
    position: relative;
    
}
.item .container3 .box .box1{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    height: 100%;
    width: 100%;
}   
.item .container3 .box .box1 img{
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    height: 2em;
    width: 2em;
    object-fit: contain;
    transition: all 300ms ease;
    
}
.item .container3 .box .box1 p:hover{
    background: #2a2a2a;
}

/*Soical  10 */
.item .container4{
    display: flex;
    justify-content:space-around;
    align-items: center;    
    gap:12em;
    width: 100%;
    height: 100%;
}
.item .container4 .Soical{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d1d1d;
    color: #ffffff;
    font-family: 'PT+Sans',sans-serif;
    font-style: normal;
    font-size: 1rem;
    width: 40%;
    height: 100%;
}
.item .container4 .box{
    padding: 0 4em;
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    align-items: center;
    height: 100%;
    position: relative;
    
}
.item .container4 .box .box1{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    height: 100%;
    width: 100%;
}   
.item .container4 .box .box1 img{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    height: 2em;
    width: 2em;
    object-fit: contain;
    transition: all 300ms ease;
    
}
.item .container4 .box .box1 p:hover{
    background: #2a2a2a;
}

/*Details  11 */
.item .container5{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
.item .container5 .Details{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1d1d;
    border-radius: 1rem;
    color: #ffffff;
    font-family: 'PT+Sans',sans-serif;
    font-style: normal;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.item .container5 .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    height: 60%;
    gap: 2em;
    padding-right: 2.5em;
    position: relative;
    
}
.item .container5 .box .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;


}   
.item .container5 .box .box1 p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    height: 80%;
    width: 15em;
    background: #3a3a3a;
    border-radius: 1rem;
    transition: all 300ms ease;
    
    
}

.item .container5 .box .box1 p:hover{
    background: #1d1d1d;
    border: 1px solid white;
}
